<div *ngIf="loading()" class="loading-message">
  <div class="loading-wave">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<div *ngIf="blogPosts().length > 0; else noPosts" class="blog-container">
  <h2 class="blog-title">Blog Posts</h2>

  <div class="add-new-post">
    <button class="add-button" (click)="openAddPostModal()">Add New
      Blog</button>
  </div>

  <ul class="blog-list">
    <li *ngFor="let post of blogPosts()" class="blog-item">
      <h3 class="blog-post-title">{{ post.title }}</h3>
      <p class="blog-post-content">{{ post.content }}</p>
      <p class="blog-post-date">Posted on: {{ getFormattedDate(post.createdAt) |
        date: 'short' }}</p>

      <h4 class="comment-title">Comments:</h4>
      <ul class="comment-list">
        <li *ngFor="let comment of post.comments" class="comment-item">
          <p class="comment-text">{{ comment }}</p>
        </li>
      </ul>

      <div *ngIf="!post.comments?.length" class="no-comments-message">No
        comments yet.</div>

      <div class="blog-buttons">
        <button class="edit-button" (click)="editPost(post.id)">Edit</button>
        <button class="delete-button"
          (click)="confirmDeletePost(post.id)">Delete</button>
      </div>
    </li>
  </ul>
</div>

<app-delete
  [showModal]="showDeleteModal()"
  message="Are you sure you want to delete this post?"
  (confirm)="deletePost()"
  (cancel)="cancelDelete()"></app-delete>

<ng-template #noPosts>
  <p class="no-posts-message">No blog posts available.</p>
</ng-template>

<app-edit-modal
  [showModal]="showEditModal()"
  [post]="postToEdit()"
  (save)="savePost($event)"
  (cancel)="cancelEdit()"></app-edit-modal>

<app-add-post-modal
  [showModal]="showAddPostModal()"
  (save)="createNewPost($event)"
  (cancelAction)="cancelAddPost()">
</app-add-post-modal>
